aiohttp                  
altgraph                
astroid                  
async-timeout             
attrs                    
beautifulsoup4            
certifi                  
chardet                   
colorama                 
Cybernator                
discord.py               
future                    
geojson                   
idna                      
isort                    
lazy-object-proxy         
lxml                      
mccabe                    
multidict                
numpy                    
pandas                   
pefile                   
pip                       
pyinstaller               
pyinstaller-hooks-contrib 
pylint                    
pyowm                     
pyperclip                
pypresence                
PySocks                   
python-dateutil           
pytz                      
pywin32-ctypes            
requests                  
setuptools                
six                      
soupsieve                 
toml                      
urllib3                   
wrapt                     
yarl                      
